{% extends "massagecenterapp/base.html" %}

{% load static %}

{% block content %}

<h1 class="title-service text-center section-service">About Us</h1>

<img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static '../media/about/img/cerrar-equipo-medico-listo-trabajar.jpg' %}" alt="">

<div class="quality-1"></div>

<div class="intro-text left-0 text-center bg-faded p-5 rounded">
    <h2 class="section-heading mb-4" >
        <span class="section-heading-upper">We are a team of professionals committed to excellence in customer service. Our group is made up of highly trained experts, whose dedication is reflected in surprising results. We strive to offer innovative solutions and exceed the expectations of those who trust us to meet their needs.</span>
    </h2>
</div>

<div class="center-content">
    <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static '../media/about/img/1.jpg' %}" alt="">
</div>

<div class="quality-1"></div>

{% endblock %}