{% extends "massagecenterapp/base.html" %}

{% load static %}

{% block content %}

<h1 class="title-service text-center section-service">Quality Assurance</h1>

<section class="page-section clearfix">
<div class="container">
    <div class="intro">
        <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static '../media/quality/img/pexels-alex-green-5699475.jpg' %}" alt="">
        <div class="intro-text left-0 text-center bg-faded p-5 rounded">
        <h2 class="section-heading mb-4" >
            <span class="section-heading-upper">Trust us for optimal care of your health. Our team of expert professionals is committed to your well-being. One of our notable advantages is the provision of comprehensive insurance that guarantees the effectiveness of the treatments, offering you peace of mind and optimal results in your recovery.</span>
        </h2>
        </div>
    </div>
</div>
</section>

<div class="intro-text left-0 text-center bg-faded p-5 rounded">
    <h2 class="section-heading mb-4" >
        <span class="section-heading-upper">We offer comprehensive insurance to ensure your complete recovery. We are committed to providing you with peace of mind and satisfaction through reliable and efficient service. With this support, we ensure that our clients obtain the care necessary for their well-being and that they are fully satisfied with our quality of service.</span>
    </h2>
</div>

<div class="quality-1"></div>

{% endblock %}