body {
  font-family: 'Lora';
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Raleway';
}

p {
  line-height: 1.75;
}

.text-faded {
  color: rgba(255, 255, 255, 0.3);
}

.site-heading {
  margin-top: 5rem;
  margin-bottom: 5rem;
  text-transform: uppercase;
  line-height: 1;
  font-family: 'Raleway';
}

.site-heading .site-heading-upper {
  display: block;
  font-size: 2rem;
  font-weight: 800;
}

.site-heading .site-heading-lower {
  font-size: 5rem;
  font-weight: 100;
  line-height: 4rem;
}

.page-section {
  margin-top: 5rem;
  margin-bottom: 10rem;
}

.section-heading {
  text-transform: uppercase;
}

.section-heading .section-heading-upper {
  display: block;
  font-size: 1rem;
  font-weight: 800;
  padding-bottom:.5rem;

}

.section-heading .section-heading-lower {
  display: block;
  font-size: 3rem;
  font-weight: 100;
}


.section-heading .section-heading-under {
  display: block;
  font-size: 1rem;
  text-transform: none;
  font-weight: 300;
  margin-top:.5rem;
}

.bg-faded {
  background-color: rgba(255, 255, 255, 0.85);
}

#mainNav {
  background-color: rgb(8, 46, 64);
  font-family: 'Raleway';
}

#mainNav .navbar-brand {
  color: #ffffff;
}

#mainNav .navbar-nav .nav-item .nav-link {
  color: rgba(255, 255, 255, 0.7);
  font-weight: 800;
}

#mainNav .navbar-nav .nav-item.active .nav-link {
  color: #ffffff;
  text-decoration: underline;
}

.title-service {
  color: rgb(8, 46, 64);
  padding: 3rem 0 3rem 0;
  font-weight: 100;
}

.intro-bg-main {
  background: url(../img/main.jpg);
  background-position: center;
  width: 95%;
  margin-left: 2rem;
}

.intro-bg-main-h1 {
  color: white;
  font-family: 'Raleway';
  font-weight: 800;
  font-size: 4.5rem;
  padding: 4rem 4rem 4rem 4rem;
}

.intro-bg-main-h2 {
  color: white;
  padding: 3rem 1.5rem 25rem 1.5rem;
}

.quality {
  background: url(../../quality/img/pexels-alex-green-5699475.jpg);
  background-position: center;
  background-size: cover;
  width: 95%;
  margin-left: 2rem;
}

.quality-p {
  background: linear-gradient(rgba(47, 23, 15, 0.65), rgba(47, 23, 15, 0.65));
  color: white;
  margin: 3rem 1.5rem 25rem 1.5rem;
  font-size: 2rem;
  font-weight: 400;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.quality-1 {
  padding: 4rem 0 0 0;
}

.quality-2 {
  padding: 4rem 0 0 0;
}

.quality-a {
  padding: 4rem 0 0 0;
  color: #082e40;
  font-size: 1.5rem;
  margin: 48vw;
}

.services-a {
  color: #082e40;
  font-size: 2vw;
}

.services-b {
  width: 100%;
}

.slider-container {
  display: grid;
  width: 50%;
  justify-content: center;
  aspect-ratio: 1.41/1;
}

.slider {
  background-image: url(../../home/img/1.jpg);
  background-size: cover;
  height: 100%;
  aspect-ratio: 1.41/1;
  border-radius: .5rem;
  animation: animate 10s infinite;
}

.home-description {
  font-size: 1.2rem !important;
}

.footer-container-icons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-flow: row;
  width: 25vw;

}

.center-content {
  display: grid;
  justify-content: center;
  align-items: center;
}

.half {
  width: 50%;
}

.container_book {
  border-radius: 2vw;
  background-image: url(../../reservations/img/rosario-parana.jpg);
  background-position: center;
  background-size: cover;
} 

.containerBook {


  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-flow: row;
  padding: 2vw;
  border-radius: 1vw;

}

.containerBookDiv {
  display: flex;
  margin: 1vw;
}

.container-col {
  display: grid;
  margin: 1vw;
}

.containerBookLabel {
  text-align: center;
}

.containerBookDivSubmit {
  padding-top: 3vw;
  width: 200%;
}

.containerBookDivSubmitBtn {
  border-radius: .5vw;
  padding: .5vw;
  margin: 2vw;
}


.container-form {
  background-image: url(../../reservations/img/rosario-parana.jpg);
  background-position: center;
  background-size: cover;
  width: 50%;
  margin: 10px auto;
  border-radius: 5px;
  padding: 1px 0;
}

.container-form-form {
  text-align: center;
  color: white;
  display: grid;
  justify-content: center;
  margin: 3vw;
}

.login-div {
  text-align: right;
  margin-right: 6vw;
  margin-bottom: 1vw;
}

.login-a {
  color: #082e40;
  font-size: 1.5vw;
  margin-bottom: 3vw;
}

.login-div-buttons {
  font-size: 1.5vw;
  display: flex;
  justify-content: center;
}

.login-button {
  color: white;
  background-color: black;
  border-radius: 1vw;
  padding: 1vw;
  width: 10vw;
  text-align: center;
  margin: 1vw;
}

.divform {
  margin-top: 1vw;
  margin-bottom: 1vw;
}


@keyframes animate {
  20% {  
    background-image: url(../../home/img/5.jpg);
    background-size: cover;
  }

  40% {  
    background-image: url(../../home/img/4.jpg);
    background-size: cover;
  }

  60% {  
    background-image: url(../../home/img/3.jpg);
    background-size: cover;
  }

  80% {  
    background-image: url(../../home/img/2.jpg);
    background-size: cover;
  }

  100% {  
    background-image: url(../../home/img/1.jpg);
    background-size: cover;
  }


}


@media (min-width: 992px) {
  #mainNav .navbar-nav .nav-item .nav-link {
    font-size: 0.9rem;
  }
  #mainNav .navbar-nav .nav-item .nav-link:hover {
    color: rgba(255, 255, 255, 0.4);
    text-decoration: underline;
  }
  #mainNav .navbar-nav .nav-item.active .nav-link:hover {
    color: #ffffff;
    text-decoration: underline;
  }
}

.btn-xl {
  font-weight: 700;
  font-size: 0.8rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

.intro {
  position: relative;
}

@media (min-width: 992px) {
  .intro .intro-img {
    width: 75%;
    float: left;
  }
  .intro .intro-text {
    left: 600;
    width: 60%;
    margin-top: 3rem;
    background-color: rgb(8, 46, 64);
    color: cornsilk;
    position: absolute;
  }
  .intro .intro-text .intro-button {
    width: 100%;
    left: 0;
    position: absolute;
    bottom: -2rem;
  }
}

@media (min-width: 1200px) {
  .intro .intro-text {
    width: 45%;
  }
}

.cta {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: rgb(242, 245, 240);
}

.cta .cta-inner {
  position: relative;
  padding: 3rem;
  margin: 0.5rem;
  background-color: rgba(24, 64, 8);
  color: cornsilk;
}

.cta .cta-inner:before {
  border-radius: 0.5rem;
  content: '';
  position: absolute;
  top: -0.5rem;
  bottom: -0.5rem;
  left: -0.5rem;
  right: -0.5rem;
  border: 0.25rem solid rgba(255, 255, 255, 0.85);
}

.cta .cta-innerv {
  position: relative;
  padding: 3rem;
  margin: 0.5rem;
  background-color: rgba(255, 255, 255, 0.85);
}

@media (min-width: 992px) {
  .about-heading .about-heading-img {
    position: relative;
    z-index: 0;
  }
  .about-heading .about-heading-content {
    margin-top: -5rem;
    position: relative;
    z-index: 1;
  }
}

@media (min-width: 992px) {
  .product-item .product-item-title {
    position: relative;
    z-index: 1;
    margin-bottom: -3rem;
  }
  .product-item .product-item-img {
    position: relative;
    z-index: 0;
    max-width: 60vw;
  }
  .product-item .product-item-description {
    position: relative;
    z-index: 1;
    margin-top: -3rem;
    max-width: 50vw;
  }
}



@media (min-width: 992px) {
  .list-hours {
    width: 50%;
    font-size: 1.1rem;
  }
}

.address strong {
  font-size: 1.2rem;
}

.footer {
  background-color: rgba(36, 121, 190, 0.8);
}

.btn {
  box-shadow: 0px 3px 3px 0px rgba(33, 37, 41, 0.1);
}



.font-weight-light {
  font-weight: 100 !important;
}

.mbtm{
  padding-top: 5rem;
}

.mbt{
  padding-top: 2rem;
}

.mbt1{
  padding-top: 1.25rem;
}

a.link{
  color: rgba(255, 255, 255, 0.7);
}

a.link:hover{
  text-decoration: none;
  color: rgba(255, 255, 255, 0.4);
}

.section-content{
  font-family: 'Lora' !important;
  font-size: 16px !important;
  font-weight: 400 !important;
  line-height: 28px !important;
}

ul.errorlist{
  padding-top: .75rem;
  font-style: italic;
  color: red;
}

.contenedorFormulario {
  background-color: rgba(24, 64, 8);
  width: 50%;
  margin: 10px auto;
  border-radius: 5px;
  padding: 1px 0;
}