{% extends "massagecenterapp/base.html" %}

{% load static %}

{% block content %}

<h1 class="title-service text-center section-service">Contact</h1>


<div class="container-form">
    {% if "valido" in request.GET %}
        <p style="color: black;">Information sent correctly</p>
    {% endif %}

    <form action="https://formspree.io/f/mjvnwpbe" method="POST" class="container-form-form">
        {% csrf_token %}
        <table style="color: white;">{{myForm.as_table}}</table>
        <input type="submit" value="Send" class="containerBookDivSubmitBtn">
    </form>
</div>

<p style="color: white;">{{request.POST}}</p>

{% endblock %}