{% extends "massagecenterapp/base.html" %}

{% load static %}

{% block content %}


<h1 class="title-service text-center section-service">Services</h1>

{% for service in services %}

<section class="page-section clearfix">
    
    <div class="container">
      <div class="intro">
        <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{{service.image.url}}" alt="" style="width: 50%;">
        <div class="intro-text left-0 text-center bg-faded p-5 rounded">
          <h2 class="section-heading mb-4" >
            <span class="section-heading-lower">{{service.title}}</span>
            <span class="section-heading-upper">{{service.content}}</span>
          </h2>
        </div>
      </div>
    </div>
  </section>



{% endfor %}

<a class="services-a" href="{% url 'Reservations' %}">Please check our availability</a>
<div class="quality-1"></div>

{% endblock %}